<footer class="w3l-footer-29-main">
    <div class="footer-29 py-5">
        <div class="container py-sm-4">
            <div class="row footer-top-29">
                <div class="col-lg-5 col-md-6 footer-list-29 footer-1">
                    <h2 class="mb-4">
                        <a class="footer-logo" href="index.html">
                            Foodi<span>e</span> Blog<i class="fas fa-utensils"></i>
                        </a>
                    </h2>
                    <p>{{bloginfo.blog_description}}</p>
                    <div class="main-social-footer-29 mt-md-4 mt-3">
                     {% for media in socialmedia %}
                     <a target="_blank" href="{{media.link}}"><i class="{{media.icons}}"></i></a>
                     {% endfor %}

                    </div>
                </div>

                <div class="col-xl-5 col-lg-4 col-md-6 footer-list-29 footer-1 px-xl-5 mt-md-0 mt-5">
                    <h6 class="footer-title-29">Contact Info </h6>
                    <p class="mb-2">Address : {{contacts.address}}.
                    </p>
                    <p class="mb-2">Phone Number : <a href="tel:{{contacts.phone}}">{{contacts.phone}}</a></p>
                    <p class="mb-2">Email : <a href="mailto:{{contacts.email}}">{{contacts.email}}</a></p>
                    <p>Support : <a href="mailto:{{contacts.support}}">{{contacts.support}}</a></p>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-6 col-sm-5 col-6 footer-list-29 footer-2 mt-lg-0 mt-5">
                    <ul>
                        <h6 class="footer-title-29">Help</h6>
                        {% for item in footermenu %}
                        <li><a href="{{item.menu_link}}">{{item.menu_title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright -->
    <section class="w3l-copyright text-center">
        <div class="container">
            <p class="copy-footer-29">© {% now 'Y' %} HC ARENA. All rights reserved. Design by <a
                    href="https://hhiitthhiinn.blogspot.com" target="_blank">
                   HC ARENA</a></p>
        </div>
    </section>
    <!-- //copyright -->
</footer>