{% load static  %}
<!doctype html>

<html lang="en">
    {% include 'frontend/head.html' %}
<body class="searchpage">
    {% include 'frontend/navigation.html' %}
    <!-- inner banner -->
    <section class="inner-banner py-5">
        <div class="w3l-breadcrumb py-lg-5">
            <div class="container pt-sm-5 pt-4 pb-sm-4">
                <h4 class="inner-text-title font-weight-bold pt-5">About Us</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>About</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="about-section ">
        <div class="container py-md-5 ">
            
            <div class="row">
            {% for item in records %}
                <div class="col-sm-6 card mt-lg-5 mt-4 ">
                    <div class="card-header p-0 position-relative border-0">
                        <a href="{% url "frontend:singlepage" item.id %}">
                            <img class="card-img-bottom d-block radius-image" src="{{item.image.url}}" alt="Card image cap">
                        </a>
                        <a href="{% url "frontend:singlepage" item.id %}" class="category-style">{{ item.category }}</a>
                    </div>
                    <div class="title-wrap title-wrap-2">
                        <h4 class="title"><a href="blog-single.html">{{item.title}} </a></h4>
                        <ul class="admin-list mt-2 mb-4" style="display:none !important">
                            <li><a href="blog-single.html"><i class="far fa-user"></i>Patty Joe
                                </a></li>
                            <li><a href="blog-single.html"><i class="far fa-heart"></i>18 Likes</a></li>
                            <li><a href="blog-single.html"><i class="far fa-comment-dots"></i>8 Comments</a>
                            </li>
                        </ul>
                        <p>
                            {{ item.description | slice:":200" }}
                            <a href ="{% url "frontend:singlepage" item.id %}" class="btn btn-style">Read More</a>
                        </p>
                    </div>
                </div>
            {% endfor %}
            
            </div>
            
            <nav class=" navigation mt-3 ">
                {% if records.has_other_pages %}
                <ul class="pagination">
                  {% if records.has_previous %}
                    <li class="page-item">
                        <a class="page-link"  href="{{query}}&page={{ records.previous_page_number }}">Prev</a>
                    </li>
                  {% else %}
                    <li class="disabled"><span class="page-link">Previous</span></li>
                  {% endif %}
                  {% for i in records.paginator.page_range %}
                    {% if records.number == i %}
                      <li class="page-item active"><span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                      <li class="page-item"><a class="page-link"  href="{{query}}&page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if records.has_next %}
                    <li class="page-item"><a class="page-link"  href="{{query}}&page={{ records.next_page_number }}">Next</a></li>
                  {% else %}
                    <li class="page-item disabled"><span class="page-link" >Last</span></li>
                  {% endif %}
                </ul>
              {% endif %}
            </nav>
        </div>
    </section>
   

   
        <div class="container" style="display:none !important">
            <h3 class="title-style text-center mb-lg-5 mb-4">Our Amazing Chef's</h3>
            <div class="row">

            </div>


        </div>

  
 

    {% include 'frontend/footer.html' %}
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
    {% include 'frontend/footerscript.html' %}
</body>

</html>